body {
    background-image: url("/static/images/smil4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex; /* Flexbox layout to manage footer placement */
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
}

.content-container p:hover {
background-color: rgba(21, 16, 52, 0.9);
color: #f8eded;
border-radius: 8px;
}

.navbar{
  margin: 20px;
  border-radius: 12px;
}

.content-container {
    padding: 30px; 
    margin-top: 100px;
    color: #fff; 
    transition: 0.3s;
}

.navbar-nav {
  justify-content: center;
  display: flex;
}
.nav-link {
    padding: 10px 20px;
    font-size: 18px; 
    border-radius: 3px;
    color: #fff; 
    text-decoration: none;
    margin-left: 20px; 
}

.nav-link:hover {
    background-color: #444;
    color: #fff; 
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.sticky-bottom-nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}


.page-link{
  color:#f8eded;
  background-color: #444;
  border: none;
}

.page-link:hover{
  color:#f8eded;
  background-color: #514b4b;
  border: none;
}

.footer{
margin-top:auto;
}

.container.mt-5 {
  margin-top: 100px !important; /* Custom top margin */
  padding-top: 20px !important; /* Custom padding at the top */
  
}
@media (max-width: 576px) {  /* Adjust the max-width as needed for your design */
  .container.mt-sm-5 {
    margin-top: 180px !important;
    padding-top: 20px !important;
  }
}
.card-body{
  background-color: #292727;
  border-radius: 10px;
  color: #f8eded;
}

.card{
  border-radius: 10px;
  background-color: #292727;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.205);
}

#likeButton {
  outline: none;
  box-shadow: none;
}
#likeButton:focus {
  outline: none;
  box-shadow: none;
}

#searchInput{
  box-shadow: none;
}

