body {
    background-image: url("/static/images/smil4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



.navbar{
  margin: 20px;
  border-radius: 12px;
}

.content-container {
    padding: 30px; 
    margin-top: 100px;
    color: #fff; 
    
}
.pic{
  width: 30px !important;
    border-radius: 50% !important;
    margin-bottom: 15px !important;
    margin-left: 20px !important; 
    margin-top: 10px;
    transition: 0.3s;
}
.pic:hover{
  filter: brightness(65%);
}
.navbar-nav {
  justify-content: center;
  display: flex;
}
.nav-link {
    padding: 10px 20px;
    font-size: 18px; 
    border-radius: 3px;
    color: #fff; 
    text-decoration: none;
    margin-left: 20px; 
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #444;
    color: #fff; 
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.sticky-bottom-nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-link{
  color:#f8eded;
  background-color: #444;
  border: none;
}

.page-link:hover{
  color:#f8eded;
  background-color: #514b4b;
  border: none;
}

.footer{
margin-top:auto;
}

#searchInput{
  box-shadow: none;
}