body {
    background-image: url("/static/images/smil4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
}

.profile-card {
    background: rgba(33, 32, 32, 0.9); /* optional: adds a dark transparent background */
    padding: 40px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 300px;
    text-align: center;
}

.profile-card img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-card h2 {
    margin: 5px 0;
}


.btn {
    display: inline-block;
    background-color: #2f363e;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
    margin-top: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #313b46;
    text-decoration: none;
}
