body{
    background-image: url("/static/images/smil4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
}

.loginCard{
    background: rgba(33, 32, 32, 0.9); 
    padding: 40px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 300px;
    text-align: center;
}

.nav{
    text-decoration: none;
    color: white;
    background-color: rgb(58, 48, 48);
}

.login-btn {
    display: inline-block;
    background-color: #2f363e;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
    margin-top: 5px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #48525c;
    text-decoration: none;
}

.input-field{

    margin-bottom: 5px; 
    padding: 8px;
    background-color: rgb(40, 43, 46);
    border-radius: 5px;
    border: none;
    width: 45%;
     
}


input.input-field{
    color: white !important;
}

