{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Password.css' %}">
</head>
<body>
  <div class="loginCard">
    <h2 class="mb-4">Change Your Password</h2>
    <form method="post">
      {% csrf_token %}
        <input type="password" name="old_password"  placeholder="Old Password" required class = "input-field">
        <input type="password" name="new_password1" placeholder="New Password" required class = "input-field">
        <input type="password" name="new_password2" placeholder="Confirm New Password" required class = "input-field"><br>
        <button type="submit" class="login-btn">Change password</button>
    </form>
  </div>
</body>
</html>
